html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Style */

body {
	font-family: Arial, Helvetica, sans-serif;
}


.wrapper    {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	background-color: #323232;
	color: white;
}
/* Header OPEN */
.header {
	height: 100px;
	background-color: #2d4059;
	color: white;
	overflow: hidden;
	clear: both;
	border-bottom: 3px solid #f07b3f;
	
}

.header img {
	width: 151px;
	float: left;
	margin-top: 30px;
	padding-left: 140px;
}

.header ul li a {
	font-weight: bold;
	float: right;
	margin-top: 40px;
	margin-right: 10%;
	text-decoration: none;
	color: white;
	font-size: 15px;
	
}

.header a:hover {
	transition: 0.3s;
	padding: 10px;
	background-color: #2d4059;
	border-radius: 2px;
	
}

.create_account a {
	font-weight: bold;
	float: right;
	margin-top: 40px;
	margin-right: 5%;
	color: white;
	text-decoration: none;
	font-size: 15px;
	
}

.login a {
	font-weight: bold;
	float: right;
	margin-top: 40px;
	margin-right: 5%;
	color: white;
	text-decoration: none;
	font-size: 15px;
} 


/* Header Closed */

/* Daftar Artikel Open */

.daftar_artikel	{
	width: 50%;
	margin: 0 auto;
	/* background-color: #ffffff; */
	

	
}

.head_artikel {
	text-align: center;
	padding-top: 100px;
	padding: 100px;

}

.head_artikel h1 {
	font-size: 38px;
	font-weight: bold;
}

.head_artikel h3 {
	font-size: 19px;
	margin-top: 30px;
}

/* Artikel */

.artikel {
	overflow: hidden;
	text-align: center;
	letter-spacing: 1px;
	
}

.artikel b  {
	font-weight: bold;
	font-size: 15px;
	
}

.artikel  p {
	font-size: 15px;
}

/* anticheat */

.anticheat	{
	/* background-color: rgb(145, 255, 163); */
	width: 200px;
	height: 200px;
	float: left;
	overflow: hidden;
	padding-left: 15px;
	padding-right: 15px;
}

.artikel .anticheat img {
	width: 80px;
	height: 80px;
	float: left;
	padding: 10px 50px 10px 60px;
}

/* match making */

.matchmaking {
	/* background-color: rgb(175, 169, 255); */
	width: 200px;
	height: 200px;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}

.artikel .matchmaking img {
	width: 80px;
	height: 80px;
	float: left;
	padding: 10px 50px 10px 60px;
}

/* Torunaments */

.tournaments  {
	/* background-color: rgb(255, 169, 226); */
	width: 200px;
	height: 200px;
	float: left;
	overflow: hidden;
	padding-left: 15px;
	padding-right: 15px;
}

.tournaments img {
	width: 80px;
	height: 80px;
	float: left;
	padding: 10px 50px 10px 60px;
}

/* artikel control */

.anticheat  {
	margin-left: 12%;
	margin-right: 10px;
}

.matchmaking {
	margin-right: 10px;
}

/* foto penutup */

.foto_penutup {

	/* background-color: #ececec; */
	padding-top: 100px;
	padding-bottom: 50px;
	overflow: hidden;
}

/* csgo */
.csgo {
	/* background-color: aliceblue; */
	width: 300px;
	height: 400px;
	float: left;
	overflow: hidden;	
}

.csgo img {
	width: 720px;
	height: 450px;
	background-size: cover;
	margin-left: -290px;
	float: left;
}
/* dota */
.dota {
	background-color: rgb(14, 240, 248);
	width: 300px;
	height: 400px;
	float: left;
	overflow: hidden;
	margin-left: 12px;
}

.dota img {
	width: 300px;
	height: 600px;
	margin-top: -100px;
	background-size: cover;
	float: left;
}

/* PUBG */
.pubg {
	background-color: rgb(174, 14, 248);
	width: 300px;
	height: 400px;
	float: right;
	overflow: hidden;
}

.pubg img {
	background-position: cover;
	margin-top: -120px;
	margin-left: -60px;
}

/* Left Bar */
.leftbar	{
	margin-top: 25%;
	width: 25%;
	float: left;
	background-color: #2d4059;
	border-radius: 0 3px 3px 0  ;
}

.leftbar b li a {
	display: block;
	padding-left: 50px;
	line-height: 50px;
	text-decoration: none;
	color: white;
	font-weight: bold;
	letter-spacing: 5px;
	
}

.leftbar a:hover {
	background-color: #f07b3f;
	font-size: 13px;
	transition: 0.3s;
	border-top: 3px solid #2d4059;
	border-bottom: 3px solid #2d4059;
}

/* Right Bar */

.rightbar	{
	width: 25%;
	margin-top: 15%;
	float: right;
	background-color: #2d4059;
	border-radius: 0 3px 3px 0 ;
}

.rightbar b li a {
	display: block;
	padding-left: 50px;
	line-height: 50px;
	text-decoration: none;
	color: white;
	font-weight: bold;
	letter-spacing: 5px;
	
}

.rightbar a:hover {
	background-color: #f07b3f;
	font-size: 13px;
	transition: 0.3s;
	border-top: 3px solid #2d4059;
	border-bottom: 3px solid #2d4059;
}

/* FOOTER */

.footer {
	clear: both;
	background-color: #2d4059;
	height: 100px;
	border-top: 3px solid #f07b3f;
}

.footer img {
	display: block;
	margin: 0 auto;
	width: 151px;
	padding-top: 25px;
}

.footer p {
	text-align: center;
	font-family: sans-serif;
	margin-top: 9px;
	font-size: 9px;
}

.header form {
	float: right;
	margin-top: 37px;
	margin-right: 50px;
	
}

.header form input {
   border: none;
  height: 20px;
  border-radius: 3px;
}

.header:hover {
	background-color: #f07b3f;
	transition: 1s;
}

.footer:hover {
	background-color: #f07b3f;
	transition: 1s;
}

